{% extends 'main.html' %}

{% block content %}
    <h1>Home Template</h1><br>

    <div>

        <div>
            {% for room in rooms %}
                <div>
                    <span> @{{ room.user.username }} </span>
                    <h2>{{ room.id }} --  <a href="{% url 'room' room.id %}">{{ room.name }} </a></h2>
                    <small>{{ room.topic.name }}</small>
                    <hr>
                </div>


            {% endfor %}
        </div>

    </div>



{% endblock content %}
