{% extends 'main.html' %}

{% block content %}
    <h1>Room Template</h1>

    <h2>Opis: </h2> {{ room.description }}
    <h3>Autor: </h3> {{ room.user }}


<div class="comment-wrapper">
    <h3>Conversation:</h3>
    <hr>
    <div>
        {% for message in room_messages %}
            <div>
                <small>@{{ message.user }}  {{ message.created|timesince }} ago </small>
            <p>{{ message }}</p>
            <hr>
            </div>
        {% endfor %}
    </div>


</div>

{% if request.user.is_authenticated %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write Your messages here..." />

    </form>
</div>
{% endif %}

{% endblock content %}